    </body>
    <script src="/stylesheets/style.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/stylesheets/js/materialize.min.js"></script>
    <script type="text/javascript" src="stylesheets/js/doctor_functions.js"></script>
    <script type="text/javascript" src="/stylesheets/js/clockpicker.js"></script>


    </html>