<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Logo</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->

  <!-- icons -->
  <link rel="shortcut icon" href="stylesheets/img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="stylesheets/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="stylesheets/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="stylesheets/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
  <link rel="stylesheet" type="text/css"  href="stylesheets/css/bootstrap.css">
  <!--  font awesome -->
  <link rel="stylesheet" type="text/css" href="stylesheets/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
      ================================================== -->
  <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">
  <!-- idk -->
  <link rel="stylesheet" type="text/css" href="stylesheets/css/nivo-lightbox/nivo-lightbox.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/nivo-lightbox/default.css">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Get Doctor</a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#features" class="page-scroll" >Features</a></li>
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#services" class="page-scroll">Services</a></li>
        <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
        <li><a href="#testimonials" class="page-scroll">Testimonials</a></li>
        <li><a href="#contact" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>


<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container" style=" margin-right: auto">
        <div class="row">
          <div class="col-lg-pull-0 col-md-push-0 intro-text">
            <h1>Get Doctors<span></span></h1>
            <p>Access to private medical services with minimum time and maximum convenience</p>
            <a href="#features" class="btn btn-custom btn-lg page-scroll">Learn More</a>
            <form action="/doctors" method="POST">
              <div class="col-md-12 " id ="div_choose_pref" >
                <input type="hidden" name="future_date">
                <label class=" sr-only" for="inlineFormCustomSelect">Preference</label>

                <select class="custom-select col-lg-4 " id="Availability" name="Availability">
                  <option name="" value="" selected>choose your availability</option>
                  <option name="one" value="1">immidiate within 24 hours</option>
                  <option name="two" value="2">Later Future</option>
                </select>

                <select class="custom-select col-lg-3" id="Specialty" name="Specialty">
                  <option selected>choose your specialty</option>
                  <option name="skin" value="skin">skin</option>
                  <option name="orthopedics" value="orthopedics">orthopedics</option>
                  <option name="gynecology" value="gynecology">gynecology</option>
                  <option value="oncology" value="oncology">Oncology</option>
                </select>
                <select class="custom-select col-lg-4" id="Price" name="Price">
                  <option selected>choose your price range</option>
                  <option name="one" value="1000">0-1000</option>
                  <option name="two" value="1500">1000-1500</option>
                  <option name="three" value="2000">1500-2000</option>
                  <option value="four" value="1000000">2000+</option>
                </select>
              </div>
              <div class="range-slider">
                <input class="range-slider__range" name="Range" id="Range" type="range" value="50" min="0" max="100">
                <span class="range-slider__value">0</span>
              </div>
              <button type="submit" class="btn btn-custom btn-lg">Make an appointment</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="col-md-12 col-md-offset-1 section-title">
      <h2 style="margin-right: 200px">Features</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-3"> <i class="fa fa-comments-o"></i>
        <h3>Lorem ipsum</h3>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>
      </div>
      <!--<div class="col-xs-6 col-md-3"> <i class="fa fa-bullhorn"></i>-->
        <!--<h3>Dolor sit amet</h3>-->
        <!--<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>-->
      <!--</div>-->
      <!--<div class="col-xs-6 col-md-3"> <i class="fa fa-group"></i>-->
        <!--<h3>Tempus eleifend</h3>-->
        <!--<p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>-->
      <!--</div>-->
      <div class="col-lg-6 col-md-3"> <i class="fa fa-hospital-o"></i>
        <h3>Pellentesque</h3>
        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>
      </div>
    </div>
  </div>
</div>

<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="stylesheets/img/about.jpg" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>מי אנחנו</h2>
          <p>מי אנחנו ? שני יזמים שנמצאים בשוק הבריאות מעל 15 שנה, ד"ר אסנה היינו מנהל המערך האונקלוגי בבית החולים ברזרילי.
          מר ארז בייזר מנהל תפעול רדיותרפיה המערך האונקלוגי סוראסקי.
          מנסיוננו המקצועי נחשפנו לפערים הקיימים במערכת הבריאות בין דרישות וצרכי המטופלים לבין זמינות המערכת הציבורית והפרטית
          ולכן לקחנו על עצמנו את האתגר למצוא דרכים להנגיש שירותי רפואה במינימום זמן ומקסימום נוחות לקהל הרחב.</p>
          <h3>למה לבחור בנו</h3>
          <div class="list-style">
          <p> eiusmod tempor incididunt ut labore et dolore magna aliqua.
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>ניסיון של מעל 15 שנה בתחום שירותי הבריאות</li>
                <li>השירות ניתן בחינם למטופלים במטרה לשפר את הנגישות לשירותי רפואה</li>
                <li>נוחות ופשוטות בהפעלת האפליקציה / אתר האינטרנט </li>
                <li>נגישות לרופאים מומחים המובילים בתחומם</li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>ניסיון של מעל 15 שנה בתחום שירותי הבריאות</li>
                <li>השירות ניתן בחינם למטופלים במטרה לשפר את הנגישות לשירותי רפואה</li>
                <li>נוחות ופשוטות בהפעלת האפליקציה / אתר האינטרנט </li>
                <li>נגישות לרופאים מומחים המובילים בתחומם</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Services Section -->
<div id="services" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Our Services</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div class="row">
      <div class="col-md-4"> <i class="fa fa-user-md"></i>
        <div class="service-desc">
          <h3>Get Doctor</h3>
          <p> שירות חדשני בתחום הנגשת שירותי רפואה ליצירת קשר מהיר בין המטופל לרופא באופן ישיר ובלתי אמצעי באמצעות ממשק מבוסס מיקום בזמו ובנוחות המתאימים לך</p>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-ambulance"></i>
        <div class="service-desc">
          <h3>Consectetur adipiscing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-plus"></i>
        <div class="service-desc">
          <h3>Lorem ipsum color</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"> <i class="fa fa-language"></i>
        <div class="service-desc">
          <h3>Consectetur adipiscing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-plane"></i>
        <div class="service-desc">
          <h3>Lorem ipsum dolor</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
      <div class="col-md-4"> <i class="fa fa-stethoscope"></i>
        <div class="service-desc">
          <h3>Consectetur adipiscing</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gallery Section -->
<div id="portfolio" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Gallery</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/01-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="stylesheets/img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/02-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="stylesheets/img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/03-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="stylesheets/img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/04-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="stylesheets/img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/05-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="stylesheets/img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/06-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dolor Sit</h4>
              </div>
              <img src="stylesheets/img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/07-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dolor Sit</h4>
              </div>
              <img src="stylesheets/img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/08-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Lorem Ipsum</h4>
              </div>
              <img src="stylesheets/img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="stylesheets/img/portfolio/09-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Adipiscing Elit</h4>
              </div>
              <img src="stylesheets/img/portfolio/09-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials Section -->
<div id="testimonials">
  <div class="container">
    <div class="section-title text-center">
      <h2>What our clients say</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="stylesheets/img/testimonials/01.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
            <div class="testimonial-meta"> - John Doe </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="stylesheets/img/testimonials/02.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis."</p>
            <div class="testimonial-meta"> - Johnathan Doe </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="stylesheets/img/testimonials/03.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
            <div class="testimonial-meta"> - John Doe </div>
          </div>
        </div>
      </div>
      <div class="row"> </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="stylesheets/img/testimonials/04.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
            <div class="testimonial-meta"> - Johnathan Doe </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="stylesheets/img/testimonials/05.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis bibendum dolor feugiat at."</p>
            <div class="testimonial-meta"> - John Doe </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="testimonial">
          <div class="testimonial-image"> <img src="stylesheets/img/testimonials/06.jpg" alt=""> </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam sedasd commodo nibh ante facilisis."</p>
            <div class="testimonial-meta"> - Johnathan Doe </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <div class="col-md-8">
      <div class="row">
        <div class="section-title">
          <h2>Get In Touch</h2>
          <p>Please fill out the form below to send us an email and we will get back to you as soon as possible.</p>
        </div>
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                <p class="help-block text-danger"></p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
          <div id="success"></div>
          <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
        </form>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 contact-info">
      <div class="contact-item">
        <h3>Contact Info</h3>
        <p><span><i class="fa fa-map-marker"></i> Address</span>חתם סופר 12/4 הרצליה 4643808<br></p>
      </div>
      <div class="contact-item">
        <p><span><i class="fa fa-phone"></i> Phone</span>052-4266552</p>
      </div>
      <div class="contact-item">
        <p><span><i class="fa fa-envelope-o"></i> Email</span> getdoctors@gmail.com</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!--java script-->
  <script type="text/javascript" src="stylesheets/js/jquery.1.11.1.js"></script>
  <script type="text/javascript" src="stylesheets/js/bootstrap.js"></script>
  <script type="text/javascript" src="stylesheets/js/SmoothScroll.js"></script>
  <script type="text/javascript" src="stylesheets/js/nivo-lightbox.js"></script>
  <script type="text/javascript" src="stylesheets/js/jqBootstrapValidation.js"></script>
  <!--<script type="text/javascript" src="stylesheets/js/contact_me.js"></script>-->
  <script type="text/javascript" src="stylesheets/js/main.js"></script>
  <!--<script type="text/javascript" src="stylesheets/js/materialize.min.js"></script>-->


<!-- ADD THE DATE IN CASE OF LATE FUTURE OPTIONS-->

<script>
  $("select[name='Availability']").change(function(){
    if ($(this).val() == 2 )
    {
      $('input[type="hidden"]').each(function () {
        this.type = 'date';
      });
    }else {
      $('input[type="date"]').each(function () {
        this.type = 'hidden';
      });
    }
  });
</script>

</body>
</html>